{% extends '::base.html.twig' %}

{% block body %}
  {% include'::navbar.html.twig'  %}
   <div class="container">
     <a href="{{ absolute_url(asset('')) }}app_dev.php/services" class="btn btn-primary">Back</a>
     <h3>CREATE POSTS</h3>
     {{ form_start(form) }}
     {{ form_widget(form) }}
     {{ form_end(form) }}
   </div>
   {% include'::footer.html.twig' %}
{% endblock %}
